* {
    primary: #D7D1B6;
    primary-fixed: #D7D1B6;
    primary-fixed-dim: #D7D1B6;
    on-primary: #121318;
    on-primary-fixed: #0e1415;
    on-primary-fixed-variant: #1a2121;
    primary-container: #1a2121;
    on-primary-container: #D7D1B6;
    secondary: #D7D1B6;
    secondary-fixed: #D7D1B6;
    secondary-fixed-dim: #D7D1B6;
    on-secondary: #121318;
    on-secondary-fixed: #0e1415;
    on-secondary-fixed-variant: #1a2121;
    secondary-container: #1a2121;
    on-secondary-container: #eef2f8;
    tertiary: #D7D1B6;
    tertiary-fixed: #D7D1B6;
    tertiary-fixed-dim: #D7D1B6;
    on-tertiary: #121318;
    on-tertiary-fixed: #0e1415;
    on-tertiary-fixed-variant: #1a2121;
    tertiary-container: #1a2121;
    on-tertiary-container: #eef2f8;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #0e1415;
    on-surface: #eef2f8;
    on-surface-variant: #c5c6d0;
    outline: #8f9099;
    outline-variant: #44464f;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #eef2f8;
    inverse-on-surface: #121318;
    inverse-primary: #D7D1B6;
    surface-dim: #0e1415;
    surface-bright: #1a2121;
    surface-container-lowest: #090f10;
    surface-container-low: #0e1415;
    surface-container: #1a2121;
    surface-container-high: #1a2121;
    surface-container-highest: #1a2121;
}
